:root {
  --PI: 3.14159265358979;
}

.spinner {
  width: 100%;
  height: 100%;
}

.circle {
  /* ViewBox is 48x48. */
  fill: none;
  stroke-linecap: round;
  stroke: #111414;
  stroke-width: 6px;
  stroke-dasharray: calc(2 * var(--PI) * 24);
  stroke-dashoffset: calc((2 - (1 / 6)) * 2 * var(--PI) * 24);
  transform-origin: 24px 24px;

  animation: dash 2s linear infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 0;
    transform: rotate(0deg);
  }
  50% {
    stroke-dashoffset: -150.7964474;
  }
  100% {
    stroke-dashoffset: -301.5928948;
    transform: rotate(360deg);
  }
}

/* .spinner > circle {
  fill: none;
  stroke: #111414;
  stroke-width: 8px;
  stroke-dasharray: 48px;
} */